body{
  background:rgb(241, 206, 255);
}
.sign-in-area{
  width:400px;
  margin:auto;
  text-align: center;
  margin-top:10vh;
  background:rgb(255, 139, 255);
  border:2px solid grey;
  padding:30px;
  border-radius: 20px;;
}
.user-details-card{
  margin-top:20px;
}